*{
    margin: 0;
    padding: 0;
}

.posts{
    padding: 10px;
}

.post{
    display: flex;
    border: 1px solid teal;
    flex-direction: column;
    margin-bottom: 20px;
}

.post_title{
    margin-bottom: 10px;
}

.loader{
    height: 100px;
    width: 100px;
    border-right: 1px solid green;
    border-radius: 50%;
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}