*{
    margin: 0;
    padding: 0;
}

.posts{
    padding: 10px;
}

.post{
    display: flex;
    border: 1px solid teal;
    flex-direction: column;
    margin-bottom: 20px;
}

.post_title{
    margin-bottom: 10px;
}

.comments{
    margin-left: 50px;
}

.comment{
    border-left: 1px solid teal;
    margin-bottom: 10px;
    width: 50%;
}

.comment_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid teal;
}

.loader{
    height: 100px;
    width: 100px;
    border-right: 1px solid green;
    border-radius: 50%;
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}